#tableContainer {
    height: 550px;
    overflow: auto;
}
#username_app_js{
    float:left;
    font-weight:bold;
}
#time_app_js{
    float:right;
}
#clear_both_app_js{
    clear:both;
}
.body_table_app_js{
    text-align: center;
}
#username_no1{
    text-align: center;
}
#username_no2{
    text-align: center;
}
#message_connected_users{
    color: red;
}
#right_arrow {
    height: 30px;
}
#left_arrow{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 30px;
}
#right_arrow_size{
    height: 30px;
}
#left_arrow_size{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 30px;
}
#label_statistics{
    text-align: center;
}
#max-page-info{
    color: red;
}
#size-info{
    color: red;
}